.movieTitle {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-weight: 600;
  width: 250px;
  color: #333;
}

.moviePoster {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 0;
  justify-content: center;
}

.movieItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.2rem;
}

.movieItem:hover {
  color: #000;
  transform: scale(1.05);
}

.container {
  margin-left: 30px;
}

.movieLink {
  text-decoration: none;
}
